In [4]:
import pandas as pd

In [5]:
tabela_vendas = pd.read_excel('Vendas.xlsx')
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [6]:
faturamento = tabela_vendas[['ID Loja','Valor Final']].groupby('ID Loja').sum()

In [7]:
display(faturamento.head())

                            Valor Final
ID Loja
Bourbon Shopping SP             1726110
Center Shopping Uberlândia      1668921
Iguatemi Campinas               1762419
Iguatemi Esplanada              1699681
Norte Shopping                  1711968

In [8]:
quantidade = tabela_vendas[['ID Loja','Quantidade']].groupby('ID Loja').sum()
display(quantidade.head())

                            Quantidade
ID Loja
Bourbon Shopping SP               8863
Center Shopping Uberlândia        8627
Iguatemi Campinas                 8935
Iguatemi Esplanada                8580
Norte Shopping                    9014

In [13]:
ticked_medio = (faturamento['Valor Final']/quantidade['Quantidade']).to_frame()
ticked_medio = ticked_medio.rename(columns={0: "Ticked médio"})
display(ticked_medio)

                                  Ticked médio
ID Loja
Bourbon Shopping SP                 194.754598
Center Shopping Uberlândia          193.453228
Iguatemi Campinas                   197.248909
Iguatemi Esplanada                  198.098019
Norte Shopping                      189.923231
Novo Shopping Ribeirão Preto        191.775226
Palladium Shopping Curitiba         189.321307
Parque Dom Pedro Shopping           194.519552
Passei das Águas Shopping           191.345324
Ribeirão Shopping                   193.441586
Rio Mar Recife                      194.377299
Rio Mar Shopping Fortaleza          190.044758
Salvador Shopping                   189.323868
Shopping Barra                      191.375666
Shopping Center Interlagos          189.105014
Shopping Center Leste Aricanduva    188.282614
Shopping Eldorado                   189.025232
Shopping Ibirapuera                 187.442394
Shopping Iguatemi Fortaleza         194.092479
Shopping Midway Mall                193.814404
Shopping Morumbi                    186.464974
Shopping Recife                     189.357767
Shopping SP Market                  192.871401
Shopping União de Osasco            190.580756
Shopping Vila Velha                 187.680724

In [17]:
import smtplib, ssl, email
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart

sender_email = "fab.leandro66@gmail.com"
receiver_email = "fab.leandro66@gmail.com"
password = "fabinholeandro"

#Create MIMEMultipart object
msg = MIMEMultipart("alternative")
msg["Subject"] = "Relatório automático"
msg["From"] = sender_email
msg["To"] = receiver_email

#HTML Message Part
html = f"""\
<html>
  <body>
    <p>Prezados, segue abaixo o relatório: </p>
    <p></p>
    <p> Faturamento de cada loja: </p>
    {faturamento.to_html(formatters={'Valor Final':'R$ {:,.2f}'.format})}
    <p> Quantidade de produtos que cada loja vendeu: </p>
    {quantidade.to_html()}
    <p> Ticked médio de cada loja: </p>
    {ticked_medio.to_html(formatters={'Ticked médio':'R$ {:,.2f}'.format})}
    <p>Obrigado pela atenção! </p>
    <p>De: Fábio Leandro Medeiros. </p>
  </body>
</html>
"""

part = MIMEText(html, "html")
msg.attach(part)

# Create secure SMTP connection and send email
context = ssl.create_default_context()
with smtplib.SMTP_SSL("smtp.gmail.com", 465, context=context) as server:
    server.login(sender_email, password)
    server.sendmail(
        sender_email, receiver_email, msg.as_string()
    )